<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\css\cosalt.css">
    <title>Document</title>
</head>
<body>
     <div class="container">
    <div class="content-section ">
            <div class="dispflex">
                <div>
                    <h2>Сергей Валентинович - руководитель консалтинговой компании Alliance. </h2>
                    <p>Опытный управленец и эксперт в области стратегического консалтинга</p>
                    <p>Эксперт с более чем 30-летним стажем</p>
                    <p>
                        Под его руководством Alliance успешно реализует проекты, направленные на развитие бизнеса, совершенствование управленческих процессов и повышение эффективности компаний разных отраслей.
                    </p>
                </div>
                <div class="boss_img">
                    <img src="/assets//team/boss1.jpg" alt="Сергей Валентинович - руководитель консалтинговой компании Alliance">
                </div>
            </div>
             <div class="header1">
            <h2>Управляющая Компания "АЛЬЯНС"</h2>
            <p>Мы предоставляем полный комплекс услуг по профессиональному управлению недвижимостью и имеем многолетний опыт работы. Юридически грамотно, безопасно с минимальными затратами.</p>
        </div>
        
        <div class="services-grid">
            <div class="service-card">
                <h3>Аренда недвижимости</h3>
                <ul>
                    <li>Подбор апартаментов</li>
                    <li>Бронирование</li>
                    <li>Встреча и заселение</li>
                    <li>Подписание договора аренды</li>
                    <li>Сопровождение</li>
                </ul>
            </div>
            
            <div class="service-card">
                <h3>Покупка/продажа недвижимости</h3>
                <ul>
                    <li>Экспертная оценка</li>
                    <li>Подбор апартаментов</li>
                    <li>Просмотр</li>
                    <li>Подписание договора задатка</li>
                    <li>Подготовка предпродажного пакета документов</li>
                    <li>Подписание нотариального договора купли-продажи</li>
                    <li>Регистрация договора в компетентных органах</li>
                    <li>Сопровождение</li>
                </ul>
            </div>
            
            <div class="service-card">
                <h3>Дополнительные услуги</h3>
                <ul>
                    <li>Консультация специалиста</li>
                    <li>Подписание договора адвокатом</li>
                    <li>Открытие фирмы</li>
                    <li>Оформление документов на гражданство</li>
                    <li>Сдача в аренду</li>
                    <li>Ремонт любой сложности</li>
                    <li>Клининг</li>
                    <li>Мебель, аппаратура, постельные принадлежности</li>
                </ul>
            </div>
            
            <div class="service-card">
                <h3>Вид на жительство (ВНЖ)</h3>
                <ul>
                    <li>Консультация со специалистом</li>
                    <li>Выбор программы</li>
                    <li>Подписание договора адвокатом</li>
                    <li>Полное сопровождение на всех этапах получения ВНЖ</li>
                </ul>
            </div>
            
            <div class="service-card">
                <h3>Гражданство Евросоюза</h3>
                <ul>
                    <li>Паспорт гражданина Румынии</li>
                    <li>Консультация специалиста</li>
                    <li>Подписание договора</li>
                    <li>Составление родового древа, анкета</li>
                    <li>Запись на подачу</li>
                    <li>Подготовка пакета документов</li>
                    <li>Подача в Министерство Юстиции</li>
                    <li>Сопровождение мигранта юридической компанией</li>
                </ul>
            </div>
            
            <div class="service-card">
                <h3>Открытие расчетного счета</h3>
                <ul>
                    <li>Подписание договора с адвокатом</li>
                    <li>Заключение договора аренды</li>
                    <li>Подготовка пакета документов</li>
                    <li>Подписание договора с бухгалтером</li>
                    <li>Открытие расчетного счета</li>
                    <li>Сопровождение</li>
                    <li>Ведение полной финансовой отчетности</li>
                </ul>
            </div>
        </div>
        
        <div class="highlight-section">
            <h2>Ускоренное Гражданство через суд</h2>
            <p style="text-align: center; margin-bottom: 20px;">"Суд рассматривает дело в законные сроки"</p>
            
            <div class="steps-container">
                <div class="step">
                    <h4>Этап 1</h4>
                    <p>Подписание договора с нашей компанией: он гарантирует Вам нашу поддержку во время работы адвоката.</p>
                </div>
                
                <div class="step">
                    <h4>Этап 2</h4>
                    <p>Оплата услуг: после подписания договора Вы оплачиваете услуги в полном объеме одним из доступных способов.</p>
                </div>
                
                <div class="step">
                    <h4>Этап 3</h4>
                    <p>Подписание договора с адвокатом: он гарантирует Вам позитивный результат процедуры.</p>
                </div>
                
                <div class="step">
                    <h4>Этап 4</h4>
                    <p>Работа адвоката: он указывает суду на факт нарушения комиссией ANC установленного законом срока рассмотрения.</p>
                </div>
                
                <div class="step">
                    <h4>Этап 5</h4>
                    <p>Ожидание позитивного решения: адвокату потребуется около 8-12 месяцев для того, чтобы выиграть суд.</p>
                </div>
                
                <div class="step">
                    <h4>Этап 6</h4>
                    <p>Публикация приказа о присвоении Вам гражданства: номер Вашего приказа будет опубликован на сайте ANC.</p>
                </div>
            </div>
        </div>
    </div>
</div>


       <section class="hero-section">
        <div class="container">
            <h1>Как можно получить пассивный доход в Евросоюзе?</h1>
            <p>Узнайте как получить пассивный доход в Евросоюзе, а мы поможем вам разобраться со всеми нюансами!</p>
        </div>
                       <div class="btn-card">
                <button onclick="openApplicationModal()" class="btn ">
                   Заказать консультацию
                </button>
             </div>
    </section>

    <div class="container">
        <div class="content-section">


                <div class="info-content">
                    <h2>Пассивный доход в Евросоюзе</h2>
                    <p>Получение пассивного дохода в Евросоюзе возможно через различные инвестиционные и финансовые инструменты. Варианты пассивного дохода зависят от вашего капитала, уровня риска и предпочтений.</p>
                    <p>Самым выгодным и менее рискованным вариантом получения пассивного дохода является недвижимость. Покупка жилья, коммерческой недвижимости или апартаментов для сдачи в аренду — популярный способ получения стабильного дохода. В странах ЕС аренда может приносить хорошие доходы.</p>
                </div>
   

            <div class="flag-content">
                <div class="flag-img">
                    <img src="/assets/consalt.jpg" alt="Рынок недвижимости в Румынии">
                </div>
                <div class="flag-text">
                    <h2>Тенденции рынка недвижимости в Румынии</h2>
                    <p>В 2024 году рынок недвижимости в Румынии демонстрирует позитивные тенденции, обусловленные рядом экономических и демографических факторов. Основные направления развития включают:</p>
                    <ol>
                        <li><strong>Рост спроса в городах</strong>: Экономическое развитие и урбанизация продолжают подталкивать рост цен на жильё в таких городах, как Констанца, Бухарест, Клуж-Напока и Тимишоара. Высокий спрос наблюдается на современные и энергоэффективные квартиры, особенно в районах с хорошо развитой инфраструктурой. В то же время рынок сталкивается с ограниченным предложением нового жилья, что подталкивает цены вверх.</li>
                        <li><strong>Инфраструктурные проекты</strong>: Важную роль в росте рынка недвижимости играют инфраструктурные проекты, такие как строительство новых дорог и модернизация транспортной сети. Это делает некоторые регионы более привлекательными для жизни и инвестиций.</li>
                        <li><strong>Интерес к логистике и промышленным объектам</strong>: Логистический и промышленный сектора остаются привлекательными для инвесторов благодаря расширению складских площадей и улучшению транспортной доступности, что также способствует росту спроса на коммерческую недвижимость.</li>
                        <li><strong>Потенциальные риски</strong>: Несмотря на позитивные тенденции, сохраняются риски, связанные с политической нестабильностью и возможным изменением процентных ставок, что может повлиять на доступность кредитов и, соответственно, на покупательскую активность.</li>
                    </ol>
                    <p>Таким образом, рынок недвижимости в Румынии в 2024 году обещает быть динамичным, особенно в крупных городах, с продолжающимся ростом цен на жильё и коммерческую недвижимость благодаря улучшению инфраструктуры и экономическому развитию.</p>
                   
            </div>

                </div> 
            </div>
        </div>
 <section class="quick-application-section ">
    <div class="container full-width">
        <div class="quick-application-form">
            <h3 class="quick-app-title">Быстрая заявка</h3>
            <p class="quick-app-subtitle">Оставьте свои контакты и мы свяжемся с вами в течение 15 минут</p>
            
            <form id="quickApplicationForm" class="quick-app-form">
                <!-- Скрытые обязательные поля для API -->
                <input type="hidden" name="telegram" value="не указан">
                <input type="hidden" name="email" value="quick@application.ru">
                <input type="hidden" name="consultation_type" value="покупка">
                
                <div class="form-row">
                    <div class="form-group">
                        <label for="quick_full_name" class="form-label">ФИО *</label>
                        <input type="text" id="quick_full_name" name="full_name" required class="form-input" placeholder="Иванов Иван Иванович">
                    </div>
                    
                    <div class="form-group">
                        <label for="quick_phone" class="form-label">Телефон *</label>
                        <input type="tel" id="quick_phone" name="phone" required class="form-input" placeholder="+7 (999) 999-99-99">
                    </div>
                    
                    <div class="form-group">
                        <label for="quick_budget" class="form-label">Бюджет</label>
                        <input type="text" id="quick_budget" name="budget" class="form-input" placeholder="Например: 50 000 €">
                    </div>
                </div>
                
                <div class="form-group ">
                    <label for="quick_message" class="form-label">Дополнительная информация (необязательно)</label>
                    <textarea id="quick_message" name="message" class="form-textarea" placeholder="Расскажите о ваших пожеланиях..."></textarea>
                </div>
                
                <button type="submit" class="quick-app-btn">
                    <span class="btn-text">Отправить заявку</span>
                    <span class="btn-loading" style="display: none;">Отправка...</span>
                </button>
                
                <p class="form-notice">* Обязательные поля для заполнения</p>
            </form>
        </div>
    </div>
</section>

    <!-- Разделитель секций -->
    <div class="section-divider"></div>

    <!-- Оптимизация налогов в Румынии -->
    <section class="hero-section hs2" >
        <div class="container">
            <h1>Оптимизация налогов в Румынии</h1>
            <p>Узнайте как оптимизировать налоги в Румынии без лишних сложностей и как мы сможем вам помочь!</p>

        </div>
    </section>

    <div class="container">
        <div class="content-section">
          
           
                <div class="info-content">
                    <h2>Оптимизация налогов в Румынии</h2>
                    <p><strong>Оптимизация налогов в Румынии</strong> — это процесс использования румынского налогового законодательства для оптимизации налоговых выплат, что может быть особенно актуально для компаний, работающих как на внутреннем рынке, так и в международной среде Евросоюза. Румыния предлагает несколько легальных методов для оптимизации налогов, как для компаний, так и для физических лиц.</p>
                </div>
          

            <div class="flag-content">
                <div class="flag-img">
                    <img src="/assets/checking-workplace-table-counting-man-768x512.jpg" alt="Налоговая оптимизация">
                </div>
                <div class="flag-text">
                    <h2>Некоторые из методов оптимизации налогов в Румынии:</h2>
                    <ol>
                        <li><strong>Применение налоговых льгот для малого и среднего бизнеса</strong>: В Румынии предусмотрена упрощённая система налогообложения для малого и среднего бизнеса. Компании с годовым оборотом до 500 000 тыс. евро могут воспользоваться пониженной ставкой корпоративного налога в размере 1% от оборота. Вывод дивидендов 8%.</li>
                        <li><strong>Использование налоговых вычетов на инвестиции</strong>: Румыния предоставляет вычеты по налогу на прибыль для компаний, которые инвестируют в определённые области, такие как научные исследования, инновации и развитие инфраструктуры.</li>
                        <li><strong>Освобождение от налогообложения доходов из источников за пределами Румынии</strong>: В рамках соглашений об избежании двойного налогообложения, заключённых Румынией с рядом стран, компании могут избежать двойного налогообложения своих доходов. Это может быть выгодным при планировании международной деятельности.</li>
                        <li><strong>Создание компаний в специальных экономических зонах</strong>: В Румынии существуют СЭЗ, где предприятия могут пользоваться налоговыми льготами, включая сниженные ставки налога на прибыль, налоговые каникулы и освобождение от некоторых видов налогов.</li>
                        <li><strong>Перенос убытков на будущее</strong>: Компании могут переносить убытки, полученные в определённом налоговом периоде, на последующие периоды и тем самым уменьшать налогооблагаемую базу в будущем.</li>
                    </ol>
                    <p>Важно отметить, что при использовании всех вышеуказанных методов необходимо соблюдать румынское налоговое законодательство, чтобы избежать риска налоговых проверок и санкций. Оптимизация налогов должна оставаться в рамках закона и не превращаться в незаконное уклонение от налогов.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>