<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bisnes.css">
    <title>Document</title>
</head>
<body>



    <section class="hero-section">
        <div class="container">
            <h1>Как открыть бизнес в Евросоюзе?</h1>
            <p>Если вы хотите стать бизнесменом в Европейском союзе здесь и сейчас, то Вам поможет в этом лучшая компания Armonie</p>
        </div>
                       <div class="btn-card">
                <button onclick="openApplicationModal()" class="btn ">
                   Заказать консультацию
                </button>
             </div>
    </section>

    <div class="container">
        <div class="content-section">
        
       
                <div class="info-content">
                    <h2>Что нужно сделать для открытия фирмы в ЕС?</h2>
                    <p>Для открытия фирмы требуется загран паспорт и временная защита!</p>
                    <p>Сам процесс проходит следующим образом:</p>
                    <ol class="process-list">
                        <li>Подпись договора с адвокатом для открытия фирмы</li>
                        <li>Проверка названия фирмы, которая длится до 10 дней.</li>
                        <li>Арендуется помещение сроком в 1 год. Договор аренды регистрируется в налоговой.</li>
                        <li>Договоренность с собственником для открытия юридического адреса на арендованную площадь</li>
                        <li>Контракт с бухгалтером и оформление доверенности на него (для подачи налогового отчета)</li>
                        <li>Покупка кассового аппарата и регистрация его в налоговой</li>
                        <li>Оформление договора о трудоустройстве</li>
                    </ol>
                </div>
            

            <div class="flag-content">
                <div class="flag-img">
                    <img src="/assets/businesseurope.jpg" alt="Бизнес в Европе">
                </div>
                <div class="flag-text">
                    <h2>Почему стоит открыть фирму в Румынии?</h2>
                    <p>Открытие фирмы в Румынии имеет множество преимуществ благодаря сочетанию экономических факторов, географического положения и поддерживающей бизнес-среды.</p>
                    
                    <h3>1. Низкие налоги и благоприятная налоговая система</h3>
                    <ul>
                        <li><strong>Корпоративный налог:</strong> В Румынии один из самых низких корпоративных налогов в Европейском Союзе — всего 16%.</li>
                        <li><strong>Налог на микропредприятия:</strong> Малые предприятия с годовым доходом до 1 миллиона евро могут платить всего 1% налога с оборота при найме как минимум одного сотрудника.</li>
                        <li><strong>НДС:</strong> Стандартная ставка налога на добавленную стоимость (НДС) составляет 19%, что также ниже, чем в ряде других стран ЕС.</li>
                    </ul>
                    
                    <h3>2. Относительно низкие затраты на рабочую силу</h3>
                    <ul>
                        <li>Румыния предлагает конкурентоспособные расходы на рабочую силу по сравнению с другими странами ЕС.</li>
                        <li>При этом уровень квалификации сотрудников, особенно в сфере IT и технологий, довольно высок.</li>
                    </ul>
                    
                    <h3>3. Развивающийся рынок и растущая экономика</h3>
                    <ul>
                        <li>Румыния демонстрирует стабильный экономический рост в последние годы.</li>
                        <li>Увеличивающееся потребление и растущие инвестиции делают страну привлекательной для новых бизнесов.</li>
                    </ul>
                </div>
            </div>

            <div class="highlight">
                <h2>Какие преимущества открытия бизнеса в Евросоюзе?</h2>
                <p>Евросоюз предлагает уникальные возможности для предпринимателей</p>
            </div>
            
            <div class="step-block">
                <h4>Единый рынок и доступ к широкому кругу клиентов</h4>
                <ul>
                    <li>Евросоюз объединяет более 450 миллионов потребителей.</li>
                    <li>Открыв бизнес в одной из стран ЕС, предприниматель получает доступ ко всему единому рынку.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Прозрачное законодательство</h4>
                <ul>
                    <li>В странах ЕС действует прозрачная и стабильная правовая система.</li>
                    <li>Простота регистрации бизнеса, четкие правила ведения коммерческой деятельности.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Программы поддержки бизнеса и субсидии</h4>
                <ul>
                    <li>В ЕС существует множество программ поддержки для малых и средних предприятий.</li>
                    <li>Открыв бизнес в Евросоюзе, можно получить доступ к финансовой поддержке.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Возможности для масштабирования и роста</h4>
                <ul>
                    <li>ЕС предлагает бизнесу возможность легко расширяться на соседние страны.</li>
                    <li>Евросоюз — это идеальная площадка для стартапов.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Доступ к высококвалифицированным кадрам</h4>
                <ul>
                    <li>Некоторые страны ЕС предлагают низкие корпоративные налоги.</li>
                    <li>Открыв бизнес в стране с благоприятной налоговой политикой, можно значительно сократить налоговые обязательства.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Инновационная среда и технологии</h4>
                <ul>
                    <li>Многие страны ЕС предлагают современные инфраструктуры и развивающиеся инновационные экосистемы.</li>
                    <li>Бизнес, ориентированный на технологии и инновации, получит доступ к лучшим условиям.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Упрощенная система регистрации и ведения бизнеса</h4>
                <ul>
                    <li>В странах ЕС создаются специальные условия для малого и среднего бизнеса.</li>
                    <li>Открыть бизнес в Евросоюзе можно легко и быстро.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Высокий уровень жизни и стабильность</h4>
                <ul>
                    <li>ЕС является регионом с высоким уровнем жизни, стабильной политической и экономической обстановкой.</li>
                    <li>Открытие бизнеса в Европе дает не только финансовые выгоды.</li>
                </ul>
            </div>
            
            <div class="step-block">
                <h4>Охрана прав интеллектуальной собственности</h4>
                <ul>
                    <li>Евросоюз обеспечивает защиту интеллектуальной собственности на высоком уровне.</li>
                    <li>Запатентовав свой продукт или технологию в ЕС, можно быть уверенным в защите прав.</li>
                </ul>
            </div>
        </div>
                       <div class="btn-card">
                <button onclick="openApplicationModal()" class="btn ">
                   Заказать консультацию
                </button>
             </div>
    </div>
    
        
</body>
</html>