<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Armonie - Агентство недвижимости в Румынии</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@700;800&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/about.css"> 
    <style>

    </style>
</head>
<body>
    

 

    <section class="about_section container">
        <h2>Armonie agentie imobiliare</h2>
        
        <div class="video-container">
            <video class="video" autoplay muted loop>
                <!-- <source src="assets/img_0481-3.mp4" type="video/mp4"> -->
                Ваш браузер не поддерживает видео тег.
            </video>
        </div>
        
        <div class="highlight">
            <h3>Мы являемся одной из первых официальных украинских компаний в Румынии.</h3>
            <p>Основной задачей при переезде в страну стояло как можно быстрее интегрироваться в Евросоюзе, понять менталитет людей, язык, законодательство, экономику. Я считаю, что мы с этой задачей справились успешно в течении двух лет</p>
        </div>
        
        <h3 class="services">Какие услуги предоставляет компания "Гармония"?</h3>
        
        <div class="how_about">
            <div class="service-card">
                <div class="service-content">
                    <div class="service-title">
                    <i class="fas fa-home icon"></i>
                    <h5> Аренда и покупка/продажа недвижимости</h5>
                </div>
                    <p>Агентство по торговле недвижимостью занимается арендой и продажей недвижимости. Предпродажный пакет документов готовит адвокат. Все сделки проходят нотариально в присутствии адвоката и лицензированного переводчика, который несет уголовную ответственность за достоверность перевода. Также в основном при покупке недвижимости уплачивается налог ТВА 19%. Мы для своих клиентов готовим пакет документов для льготного налогообложения ТВА 9%.</p>
                
            </div>
            </div>
            
            <div class="service-card">
                <div class="service-content">
                    <div class="service-title">
                   <i class="fas fa-building icon"></i>
                    <h5> Управляющая компания</h5>
                </div>
                    <p>Если вы хотите получать пассивный доход от недвижимости, но на это нет времени или вы находитесь заграницей — выход есть. Можно подписать договор с нашей управляющей компанией, которая будет заниматься вашими активами.</p>
                
            </div>
            </div>
            
            <div class="service-card">
                <div class="service-content">
                    <div class="service-title">
                    <i class="fas fa-chart-line icon"></i>
                    <h5> Консалтинговая компания</h5>
                </div>
                    <p>Если вы хотите приобрести бизнес в Евросоюзе, открыть фирму, расчетный счет или задекларировать доходы — вам поможет наша консалтинговая компания. Если ваши доходы не были задекларированы, вы можете заплатить 10% официального налога в Евросоюзе, и ваши деньги будут храниться на банковском счете компании или вашем личном.</p>
                
            </div>
            </div>
            
            <div class="service-card">
                <div class="service-content">
                    <div class="service-title">
                    <i class="fas fa-passport icon"></i>
                    <h5> Получение гражданства по программе репатриации</h5>
                </div>
                    <p>Также наша компания специализируется на подготовке пакета документов и помощи в получении гражданства ЕС по программе репатриации. Подача документов в министерство юстиции происходит в сопровождении миграционного юриста. После принятия присяги, мы оказываем помощь в получении прописки, свидетельства о рождении европейского образца, внутреннего и загранпаспорта, ID карты и замене водительского удостоверения.</p>
                
            </div>
            </div>
            
            <div class="service-card">
                <div class="service-content">
                    <div class="service-title">
                    <i class="fas fa-euro-sign icon"></i>
                    <h5></i> Получение пассивного дохода</h5>
                </div>
                    <p>Мы можем предоставить вам возможность получать пассивный доход от сдачи в аренду апартаментов на самом престижном морском курорте в Румынии — Констанца и Мамая. Оптимизация налогов в Евросоюзе происходит через румынскую компанию. СРЛ — это аналог нашего ООО. 1% от оборота, 8% — вывод дивиденды.</p>
                
            </div>
            </div>
        </div>
        
        <div class="trust-section">
            <div class="container">
                <h3>Почему нам можно доверять?</h3>
                <p>Одним из важнейших факторов быстрого развития компании является то, что один из руководителей — гражданка Румынии с высшим экономическим образованием и знанием нашего языка. Наша команда — это лучшие профессионалы с многолетним опытом работы, страстно любящие свое дело. У нас работают юрист, финансовый директор, главный бухгалтер, бухгалтер, а также адвокаты из Украины и Румынии. Вы можете быть уверены, что обратившись к нас, вы получите необходимую помощь и ожидаемый результат! Не теряйте свое время и деньги, выбирайте профессионалов!</p>
            </div>
        </div>
        
        <p class="title1">О наших компаниях</p>
        <p class="title1-text" style="text-align: center; max-width: 800px; margin: 0 auto 2rem; ">Наши компании ведут активную деятельность на территории Евросоюза, в Румынии, уже более 2-х лет, имеют доверие и высокую репутацию.</p>
        
        <div class="companies-grid">
            <div class="company-card">
                <div class="company-img">
                    <img src="assets/1.jpeg" alt="1-е Украинское агентство недвижимости в Румынии">
                </div>
                <div class="company-content">
                    <p class="title">1-е Украинское агентство недвижимости в Румынии "Armonie IMOBILIARE S.R.L."</p>
                    <div class="desc">
                        <p>Широкий спектр услуг на рынке недвижимости:</p>
                        <ul>
                            <li>аренда</li>
                            <li>покупка</li>
                            <li>продажа</li>
                        </ul>
                        <p>Юридическое сопровождение сделок для всех видов недвижимости (нотариус, юрист, финансист, бухгалтеры).</p>
                    </div>
                </div>
            </div>
            
            <div class="company-card">
                <div class="company-img">
                    <img src="assets/2.jpg" alt="Инвестиционная компания «Armonie Investment S.R.L.»">
                </div>
                <div class="company-content">
                    <p class="title">Инвестиционная компания «Armonie Investment S.R.L.»</p>
                    <div class="desc">
                        <p>Компания создана для коллективных инвестиций.</p>
                        <p>Широкий спектр финансовых услуг частным и корпоративным инвесторам.</p>
                        <p>Посредничество на рынке.</p>
                    </div>
                </div>
            </div>
                   <div class="company-card big">
                <div class="company-img">
                    <img src="assets/3.jpg" alt="Компания по управлению активами «Alliance CAA S.R.L.»">
                </div>
                <div class="company-content">
                    <p class="title">Компания по управлению активами «Alliance CAA S.R.L.»</p>
                    <div class="desc">
                        <p>ALLIANCE C.A.A. S.R.L.</p>
                        <p>Компания по управлению активами. Консультационная деятельность в области бизнеса и управления.</p>
                        <p class="blok"><strong>Блок 1. Наши услуги</strong><br>
                        1. Официальный денежный перевод из Украины в Евросоюз<br>
                        2. Официальная декларация о доходах в ЕС<br>
                        3. Оплата налогов<br>
                        4. Бухгалтерские услуги<br>
                        5. Юридические услуги<br>
                        6. Открытие компании ЕС<br>
                        7. Управление бизнесом</p>
                        <p class="blok">Блок 2. Пошаговая инструкция:<br>
                            1) Проведение предварительных переговоров.<br>
                            2) Индивидуальный подход к каждому клиенту.<br>
                            3) Договор с консалтинговой компанией.<br>
                            4) Планирование встреч, ведение переговоров и полное сопровождение.<br>
                            5) Юридическая консультация.<br>
                            6) Финансовая консультация.<br>
                            7) Договор с аудиторской компанией.<br>
                            8) Открытие расчетного счета в Румынии.<br>
                            9) Оплата налогов.</p>
                        <p>Дополнительные услуги для открытия бизнеса:<br>
                            1) Мы создали агентство недвижимости «Armonie» и располагаем большой базой квартир под ваш бизнес.<br>
                            2) Есть компания «Armonie Investment SRL», которая возьмет ваш бизнес в управление, а также бухгалтерские услуги.<br>
                            3) Маркетинговый отдел обеспечивает рекламу ваших апартаментов.<br>
                            4) Ведение бизнеса в Евросоюзе. Покупка земли. Получение ВНЖ с последующим получением гражданства в Евросоюзе.</p>
                        <p class="blok">Блок 3. Консалтинг<br>
                            1. Индивидуальный подход к каждому клиенту.<br>
                            2. Заключение договора с консалтинговой компанией.<br>
                            3. Заключение договора с аудиторской компанией.<br>
                            4. Финансовая консультация.<br>
                            5. Оплата налогов в Румынии (ЕС).<br>
                            6. Декларирование денег в Евросоюзе на расчетный счет юр. или физ. лица.</p>
                        <p class="blok">Блок 4. Методы оплаты<br>
                            1. Visa<br>
                            2. Mastercard<br>
                            3. BCR Bank<br>
                            4. Bitcoin<br>
                            5. ING Bank<br>
                            6. Bank Transilvania</p>
                        <p class="blok">Блок 4. Методы оплаты<br>
                            1. Visa<br>
                            2. Mastercard<br>
                            3. BCR Bank<br>
                            4. Bitcoin<br>
                            5. ING Bank<br>
                            6. Bank Transilvania</p>
                        <p>Контакты:<br>
                            +380682656442 — Сергей</p>
                        <p>Центральный офис:<br>
                            Rumania, Mamaia-sat, Aleea D30, Nr. 8</p>
                        </div>
                </div>
            </div>
            
            <div class="company-card ">
                <div class="company-img">
                    <img src="assets/4.jpg" alt="Получение гражданства в ЕС">
                </div>
                <div class="company-content">
                    <p class="title">Получение гражданства в ЕС</p>
                    <div class="desc">
                        <p>Команда грамотных юристов предоставит вам профессиональную поддержку в оформлении документов.</p>
                        <p>✔️Профессиональная поддержка</p>
                        <p>✔️Грамотное оформление документов</p>
                        <p>✔️Принятие присяги</p>
                        <p>✔️Получение паспорта ЕС</p>
                    </div>
                </div>
            </div>

        </div>
                <div class="btn-card">
                <button onclick="openApplicationModal()" class="btn ">
                   Заказать консультацию
                </button>
             </div>
    </section>
 
</body>
</html>